<div class="login-form">
    <mat-card class="login-card">
        <mat-card-content>
            <h2 style="text-align: center;">{{ api.Register ? 'Sign Up' : 'Sign In' }}</h2>
            <form class="login-form">
                <mat-form-field class="full-width">
                    <mat-label>Login</mat-label>
                    <input #loginField matInput placeholder="Login" name="login" required>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input #passField type="password" matInput placeholder="Password" name="pass" required>
                </mat-form-field>
                <mat-form-field class="full-width" [ngStyle]="{
                        'display': api.Register ? 'block' : 'none'
                    }">
                    <mat-label>Confirm Password</mat-label>
                    <input #repassField type="password" matInput placeholder="Confirm Password" name="repass" required>
                </mat-form-field>
            </form>
        </mat-card-content>
        <mat-card-actions class="login-form-btns">
            <div *ngIf="!api.Register; else registerBtns;">
                <button mat-raised-button (click)="api.authorizeUser(loginField.value, passField.value)" color="primary">Login</button>
                <button mat-raised-button (click)="api.registerSwitch()" color="primary">Sign Up</button>
            </div>
            <ng-template #registerBtns>
                <button mat-raised-button (click)="api.registerUser(loginField.value, passField.value, repassField.value)" color="primary">Register</button>
                <button mat-raised-button (click)="api.registerSwitch()" color="primary">Cancel</button>
            </ng-template>
        </mat-card-actions>
    </mat-card>
</div>