.modal-body-line {
    margin-bottom: .01rem;
}

.card-close-times {
    color: #000;
    transition: all .1s ease;
}

.card-close-times:hover {
    color: #000B;
}

.table {
    border: 1px solid #dee2e6;
    border-radius: 1rem;
}

.form-group,
.input-group,
.card-input {
    width: 100% !important;
}