$blue:rgb(0, 123, 255);
$borderRadius: .3rem;
* {
    font-family: 'Montserrat', sans-serif;
}

.modal-body-line {
    margin-bottom: .01rem;
}

.card-close-times {
    color: #000;
    font-size: 1.5em;
    transition: all .1s ease;
    cursor: pointer;
}

.card-close-times:hover {
    color: #000B;
}

.close {
    outline: none;
}

.table-edit,
.table-delete {
    font-size: 1.3em;
    font-weight: 600;
    transition: all .2s ease;
    cursor: pointer;
}

.table-delete-header {
    color: rgb(196, 59, 59);
}

.table-edit {
    color: #000
}

.table-edit:hover {
    color: #0009;
}

.table-delete {
    color: rgb(196, 59, 59);
}

.table-delete:hover {
    color: rgb(196, 59, 59, .6);
}

.table {
    // border: 1px solid #dee2e6;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    thead,
    tbody {
        font-size: .8rem;
    }
}

.table-box {
    border: 1px solid #dee2e6;
    border-radius: $borderRadius;
    margin-bottom: .5rem;
}

.btn:focus,
.btn.focus {
    box-shadow: none !important;
}

.dropdown-toggle,
.dropdown-menu,
ngb-pagination {
    font-size: .8rem !important;
    margin-bottom: 0 !important;
}

.dropdown-menu {
    right: 0 !important;
    left: auto !important;
}

.dropdown-toggle::after {
    font-size: 1rem;
    vertical-align: middle;
}

.form-group,
.input-group,
.card-input,
.full-width {
    width: 100% !important;
}

.form-inline {
    display: flex;
    flex-direction: column;
}

.add-node {
    width: 100%;
    // margin-bottom: .5rem;
    padding: .3rem 0;
    // border: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-bottom-left-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
    display: flex;
    justify-content: center;
    background: #fff;
    color: #000;
    transition: all .2s ease;
    cursor: pointer;
    .add-node-symbol {
        font-size: 1.2rem;
    }
}

.add-node:hover,
.add-node:active {
    background: rgb(0, 123, 255);
    color: #fff;
    box-shadow: 0px 0px 8px 4px rgba(34, 60, 80, 0.2) inset;
}

.search-input {
    border-right: 1px solid#dee2e6 !important;
    border-radius: 0;
    border-top-left-radius: $borderRadius;
    outline: none !important;
    box-shadow: none !important;
}

.search-box * {
    // border-bottom: none !important;
    border: none;
    font-size: .9rem !important;
}

.search-btn {
    border-left: 1px solid#dee2e6 !important;
    border-radius: 0 !important;
    border-top-right-radius: $borderRadius !important;
    color: #000;
    background: #fff !important;
    transition: all .2s ease !important;
}

.search-btn:hover,
.search-btn:active {
    color: #fff;
    background: rgb(0, 123, 255) !important;
    box-shadow: 0px 0px 6px 1px rgba(34, 60, 80, 0.2) inset;
}