<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ card.title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="outline: none;">
        <span class="card-close-times" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" [ngSwitch]="card.type">
        <div *ngSwitchCase="'msg'">
            <p class="modal-body-line" *ngFor='let line of card.cardLines; index as i;'>
                <mat-form-field class="example-full-width card-input" appearance="fill">
                    <mat-label>{{ line }}</mat-label>
                    <input matInput #cardInput [name]="card.title" [placeholder]="line" [value]="line" (change)="test(cardInput, i);">
                </mat-form-field>
            </p>
        </div>
        <form *ngSwitchCase="'dp'" class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                </div>
            </div>
        </form>
        <div *ngSwitchCase="'tp'">
            <ngb-timepicker [(ngModel)]="card.time" [seconds]="true"></ngb-timepicker>
        </div>
        <form *ngSwitchCase="'ti'" class="form-inline">
            <mat-form-field class="full-width" *ngFor="let value of card.cardLines; index as i;">
                <mat-label>{{ card.colTitles[i] }}</mat-label>
                <input matInput [placeholder]="card.colTitles[i]" name="login" [value]="value" required>
            </mat-form-field>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" onclick="alert('Not implemented yet')">Edit</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Phone</th>
            <th scope="col">Update date</th>
            <th scope="col">Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let node of getPagedNodes(); index as i">
            <th scope="row">{{ node.UserId }}</th>
            <td>
                <a href="#" class="table-link" (click)="showTextInput(content, node.Name, [
                    'Last Name',
                    'First Name',
                    'Patronymic'
                ], [
                    node.LastName,
                    node.Name,
                    node.Patronymic
                ])">{{ node.LastName + ' ' + node.Name + ' ' + node.Patronymic }}</a>
            </td>
            <td>{{ node.Company }}</td>
            <td>{{ node.Phone| phone:'RU' }}</td>
            <td>
                <a href="#" class="table-link" (click)="showDatePicker(content, node.Name)">{{ node.LastUpdateDate | date }}</a>
            </td>
            <td>
                <a href="#" class="table-link" (click)="showDatePicker(content, node.Name)">{{ node.CreationDate | date }}</a>
            </td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [directionLinks]="false" [pageSize]="pageSize[selectedItem]"></ngb-pagination>

    <div ngbDropdown class="d-inline-block">
        <button ngDefaultControl class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="pageSize">{{ currentPageSize }} items per page</button>
        <div #dd ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button *ngFor="let size of pageSize; index as i;" ngbDropdownItem (click)="selectedItem = i;">{{ size }} items per page</button>
        </div>
    </div>
    <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select> -->
</div>