<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ title }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')" style="outline: none;">
        <span class="card-close-times" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p class="modal-body-line" *ngFor='let line of cardLines; index as i;'>
            <mat-form-field class="example-full-width card-input" appearance="fill">
                <mat-label>{{ line }}</mat-label>
                <input matInput #cardInput [name]="title" [placeholder]="line" [value]="line" (change)="test(cardInput, i);">
            </mat-form-field>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" onclick="alert('Not implemented yet')">Edit</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<!-- {
    user_id: 0,
    node_id: 0,
    node_name: 'Ivan',
    node_last_name: 'Ivanov',
    node_patronymic: 'Ivanovich',
    node_company: 'No Walls Production',
    node_phone: '88005553535',
    node_create_date: new Date(),
    node_update_date: new Date()
  } -->

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Company</th>
            <th scope="col">Phone</th>
            <th scope="col">Update date</th>
            <th scope="col">Creation date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let node of getPagedNodes(); index as i">
            <th scope="row">{{ node.UserId }}</th>
            <td>
                <a href="#" class="table-link" (click)="showCard(content, node.Name, [])">{{ node.LastName + ' ' + node.Name + ' ' + node.Patronymic }}</a>
            </td>
            <td>{{ node.Company }}</td>
            <td>{{ node.Phone| phone:'RU' }}</td>
            <td>{{ node.LastUpdateDate | date }}</td>
            <td>{{ node.CreationDate| date }}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [directionLinks]="false" [pageSize]="pageSize"></ngb-pagination>

    <div ngbDropdown class="d-inline-block">
        <button ngDefaultControl class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="pageSize">{{ dd.children.item(selectedItem)!.innerHTML }}</button>
        <div #dd ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="pageSize = 3; selectedItem = 0;">3 items per page</button>
            <button ngbDropdownItem (click)="pageSize = 4; selectedItem = 1;">4 items per page</button>
            <button ngbDropdownItem (click)="pageSize = 5; selectedItem = 2;">5 items per page</button>
            <button ngbDropdownItem (click)="pageSize = 6; selectedItem = 3;">6 items per page</button>
            <button ngbDropdownItem (click)="pageSize = 7; selectedItem = 4;">7 items per page</button>
        </div>
    </div>
    <!-- <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select> -->
</div>