<ng-template #deleteRef let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Node deletion</h4>
        <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
            <span class="card-close-times" aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">{{ card.node!.Name }}</span> node?</strong></p>
        <p>All information associated to this node will be permanently deleted.
            <span class="text-danger">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
        <button type="button" class="btn btn-danger" (click)="deleteNode(card.node!.UserId, card.node!.NodeId); modal.close('Delete click')">Delete</button>
    </div>
</ng-template>

<ng-template #editRef let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ card.type === 'edit' ? card.node!.Name : 'Node creation' }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span class="card-close-times" aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <mat-form-field class="full-width">
            <mat-label>Last Name</mat-label>
            <input #lastName matInput placeholder="Last Name" [value]="card.node!.LastName" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Name</mat-label>
            <input #name matInput placeholder="Name" [value]="card.node!.Name" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Patronymic</mat-label>
            <input #patronymic matInput placeholder="Patronymic" [value]="card.node!.Patronymic" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Company</mat-label>
            <input #company matInput placeholder="Company" [value]="card.node!.Company" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input #email matInput placeholder="Email" [value]="card.node!.Email" required>
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Phone</mat-label>
            <input #phone matInput placeholder="Phone" [value]="card.node!.Phone" required>
        </mat-form-field>
    </div>
    <div class="modal-footer">
        <button *ngIf="card.type === 'edit'; else addBtn;" type="button" class="btn btn-light" (click)="editNode(card.node!.UserId, card.node!.NodeId, { 
            lastName: lastName.value,
            name: name.value,
            patronymic: patronymic.value,
            company: company.value,
            phone: phone.value,
            email: email.value
        }); modal.close('Close click');">Apply</button>
        <ng-template #addBtn>
            <button type="button" class="btn btn-light" (click)="addNode({
                lastName: lastName.value,
                name: name.value,
                patronymic: patronymic.value,
                company: company.value,
                phone: phone.value,
                email: email.value
            }); modal.close('Close click');">Add</button>
        </ng-template>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<div class="table-box">
    <div class="input-group search-box">
        <input type="text" class="form-control search-input" placeholder="Type anything to find nodes" aria-label="Type anything to find nodes" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="input-group-text search-btn" id="basic-addon2">Search</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of table.headers">{{ header }}</th>
                <th scope="col" class="table-edit-header">Edit</th>
                <th scope="col" class="table-delete-header">Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let node of nodes; index as i">
                <td>{{ node.LastName + ' ' + node.Name + ' ' + node.Patronymic }}</td>
                <td>{{ node.Company }}</td>
                <td>{{ node.Phone| phone:'RU' }}</td>
                <td>{{ node.Email }}</td>
                <td>
                    <span class="table-edit" (click)="showNodeEditor(editRef, node)">&#9998;</span>
                </td>
                <td>
                    <span class="table-delete" (click)="showConfirm(deleteRef, node);">&#10006;</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="add-node" (click)="showNewNodeEditor(editRef)">
        <span class="add-node-symbol">&#10010;</span>
    </div>
</div>

<div class="d-flex justify-content-between">
    <ngb-pagination [collectionSize]="page.collectionSize" [page]="page.index" (pageChange)="page.index = $event; api.PageIndex = $event; apiGetPageNodes();" [directionLinks]="false" [pageSize]="currentPageSize"></ngb-pagination>

    <div ngbDropdown class="d-inline-block">
        <button ngDefaultControl class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [(ngModel)]="page.size">{{ currentPageSize }} items per page</button>
        <div #dd ngbDropdownMenu aria-labelledby="dropdownBasic1" style="right: 0 !important;">
            <button *ngFor="let size of page.size; index as i;" ngbDropdownItem (click)="page.sizeDropdownSelectedItem = i; api.SizeDropDownItem = i; apiGetPageNodes()">{{ size }} items per page</button>
        </div>
    </div>
</div>