.container {
  max-width: 1400px;
  width: 95%;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column !important;
}

.content {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: 5px;
}
