@import '~bootstrap/scss/bootstrap';
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    box-sizing: border-box;
    height: 100vh !important;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
    z-index: 1;
}

ol,
ul,
dl {
    margin-bottom: 0 !important;
}

html,
body {
    height: 100%;
}

.visually-hidden {
    display: none !important;
}

.modal-xl {
    max-width: 1200px !important;
    padding: 0 15px !important;
}

.loader-bg,
.loader-bg * {
    z-index: 100 !important;
}

app-navigation,
app-navigation * {
    z-index: 99 !important;
}